html {
background-color: aquamarine;
background-image: url("images/1-big-viburnum.jpg");
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
}

.header {
    background-color: rgba(240, 255, 255, 80%);
    padding: 30px;
}

.main {
    background-color: blanchedalmond;
    padding: 30px;
}