.header {
background-image: url("images/3-fruit.jpg");
height: 300px;
background-size: cover;
}

.site-id {
    text-align: center;
    background-color: rgba(255, 255, 255, 30%);
    border-top: 4px solid black;
    padding: 20px;
}