.header {
background-color: bisque;
background-image: url("images/4-uwm-hero.jpg");
padding-bottom: 440px;
background-position: center bottom;
background-repeat: no-repeat;
}

.main {
    background-color: coral;
}
